{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <p>
    <p>Привет, я Александр Бондаренко, автор этого блога</p>
    <article>
      <p>
        Десять лет назад я отучился на программиста и даже успел поработать пол года по специальности, но волею судьбы сменил род деятельности и стал предпринимателем в сфере, совсем не связанной с IT.
        Речь идёт о госзакупках. Моя компания оказывает услуги другим предпринимателям, которые хотят принять участие в т.н. тендерах - публичных торгах, которые проводят госзаказчики.
      </p>
      <p>
        За 12 лет ведения предпринимательской деятельности я смог сформировать хоть и небольшой, но полноценный бизнес, который в настоящий момент даёт мне достаточно свободного времени и денег.
        Однако, после многих лет напряженной работы, я ощутил усталость и полное отсутствие интереса к работе. Так я решил восстановить некогда утраченную квалификацию и снова стать программистом.
        В данный момент, помимо Python с Яндекс.Практикой, я изучаю C++ тоже с Яндексом, но на платформе Coursera. Одновременное изучение двух таких непохожих языков позволяет мне понимать программирование на более фундаментальном уровне.
      </p>
      <p>
        Меня горячо поддерживает жена и моя внутренняя уверенность в том, что, чтобы стать специалистом нужно только время и усердный труд.
      </p>
    </article>
  </p>
{% endblock %}